<h1>Bienvenue dans la tour des héros</h1>

<!--  Second course examples -->
<!-- 
<p>
  <label for="InputUsername">Votre nom
  <input id="InputUsername" type="text" name="name" [(ngModel)]="username"></label>
</p>

<p>Vos héros :</p>
<ul>
  <li *ngFor="let hero of heroes">{{heroes}} <small *ngIf="hero == username">(c'est moi :))</small></li>
  <li *ngFor="let hero of heroes">{{heroes}}</li>
</ul> 

<label for="InputHeroName">Héros à ajouter : <input type="text" name="nameOfTheHero" id ="InputHeroName" [(ngModel)]="heroToAdd"></label>
<button (click)="addHero()">Ajouter un héros</button> -->

<app-heroes-list></app-heroes-list>


