<h1>Bienvenue sur {{ title }}</h1>

<app-heroes-list></app-heroes-list>

<!-- EXO PDF 1 -->
<!-- <h1 [ngStyle]="titleStyle">Bienvenue dans la tour des {{heros.length}} héros, {{username}} </h1>


<p>
  <label for="InputUsername">Votre nom
  <input id="InputUsername" type="text" name="name" [(ngModel)]="username"></label>
</p>

<p>Vos héros :</p>
<ul>
  <li *ngFor="let hero of heros">{{hero}} <small *ngIf="hero == username">(c'est moi :))</small></li>
</ul>

<label for="InputHeroName">Héros à ajouter : <input type="text" name="nameOfTheHero" id ="InputHeroName" [(ngModel)]="heroToAdd"></label>
<button (click)="addHero()">Ajouter un héros</button><br>

<p>
  <label for="InputHeroNameToRemove">Héros à retirer : <input id="InputHeroNameToRemove" type="text" name="nameOfTheHero" [(ngModel)]="heroToRemove"></label><button (click)='removeHero(heroToRemove)'>Retirer héros</button>
</p>
  